*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

header{
  background-color: #3160e0;
  height: 80px;
}

header nav ul{
  display: flex;
  list-style: none;
}

header nav ul a{
  text-decoration: none;
  color: rgb(255, 255, 255);
  background-color: #3160e0;
}

header nav li{
  align-items: center;
  padding: 5px;
  margin: 0 15px;
}


header .flex-center{
  height: 80px;
}

.container{
  margin: 0 auto;
  max-width: 900px; 
}

.container .top{
  margin-top: 200px;
}

.container .green{
  margin-top: 200px;
}

.row{
  display: flex;
  justify-content: center;
}

main .container{
  display: flex;
  justify-content: center;
}

main .rcol{
  display: flex;
  justify-content: center;
  padding-top: 150px;
  width: 40%;
}

main .lcol{
  display: flex;
  justify-content: center;
  padding-top: 150px;
  width: 70%;
}

main .dcol{
  width: 100%;
}

section.bg-blue{
  background-image: url(../img/jumbo.png);
  min-height: 600px;
  background-position:center; 
  background-size:cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}

section.bg-green{
  background-color: white;
  display: flex;
  justify-content: center;
  height: 500px;
  
}
main .bg-green h1{
  display: flex;
  flex-direction: column;
  padding-top:150px;
}

main .bg-green p{
  display: flex;
  justify-content: center;
}

.bg-blue h1{
  font-size: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.bg-blue p{
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 2rem;
  padding-left: 700px;
  padding-right: 700px;
}

.button-header{
  margin: 20px;
  display: inline-block;
  justify-content: center;
  display: flex;
  border-radius: 100px;
  padding: 15px;
}

.button-header#white a{
  color: black;
  border: 1px solid white;
}

.button-header#black a{
  color: white;
}

a:link{
  text-decoration: none;
}

#white::before{
  content: "\2193";
}

#white{
  background-color: white;
  color: black;
}

#black{
  background-color: black;
}

.stars{
  background-image: url("../img/stars.svg");
  background-size: contain;
  background-repeat: no-repeat;
}

section.bg-grey{
  background-color: grey;
  padding-top: 50px;
  padding-bottom: 50px;
  text-align: center;
}

.colflex{
  display: flex;
  margin: 0 auto;
}

.flex-center{
  display: flex;
  justify-content: center;
  align-items: center;
}

.row{
  height: 0 auto;
}

.logo{
  display: flex;
}

.a-flex{
  display: flex;
  padding-left: 100px;
  padding-right: 100px;
}

.btn{
  text-decoration: none;
  border: 8px solid white;
  background-color: white;
  border-radius: 15px;        
  width: 50px;              
  text-align: center;      
  padding: 3px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.debug{
  background-color: #3160e0
  border: 1px solid black;
}

.navbar .row{
  border: 1px solid black;
  justify-content: space-between;
}

.column{
  padding: 20px;
}

footer{
  background-color: rgba(39, 36, 36, 0.975);
}

section.bg-black{
  display: flex;
  padding-top: 50px;
  padding-bottom: 50px;
  margin: 0 auto;
  max-width: 900px;
}

#ita{
  width: 20px;
}

footer .acol{
  font-size: large;
  width: 40%;
  color:blueviolet
}

footer .qcol{
  font-size: smaller;
  width: 15%;
  color: blueviolet;
}

footer .row{
  display: flex;
  margin: 0 auto;
  justify-content: center;
}

.container-footer{
  background-color: rgb(40, 39, 39);
}

.row-footer{
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  margin-bottom: 10px;
}

.col-button{
  border: 4px solid rgb(167, 137, 243);
  border-radius: 15px;
  background-color: rgb(167, 137, 243);
  padding: 3px;
  padding-top: 5px;
  padding-bottom: 5px;
  color: white;
}